.player-wrapper {
  position: relative;
  padding-top: 56.25%
  /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.pagenation-box{
    width: 1100px;
    margin: 3rem auto;

}
.pagination{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.pagination .page-item{
    width: 2rem;
}
.page-item.active{
    transform: scale(1.2);
    font-weight: 900;
    font-size:1.1rem;
}
.page-item .page-link{

}
